HOST="http://localhost:8000"
QR_DEVICE_ID=""
DEVICE_IDENTIFIER="QR-Entrada"
SERIAL_PORT="/dev/ttyUSB0"
SERIAL_BAUDRATE="115200"

# Configuracion de Camara
CAMERA_INDEX="0"
CAMERA_BURST_COUNT="5"
CAMERA_BURST_DELAY="1.0"
CAMERA_SAVE_PATH="./storage/camera"

# Configuracion de Modelos IA Placas y API
MODEL_PLATES_PATH="./models/plate/best.pt"
MODEL_OCR_PATH="./models/ocr/best.pt"
PLATE_API_ENDPOINT="/api/access/plate"
PLATE_MIN_CONFIDENCE="0.25"
PLATE_CONF_THRESHOLD="0.15"
OCR_CONF_THRESHOLD="0.20"
DEBUG_SAVE_IMAGES="true"
DEBUG_OUTPUT_DIR="./storage/debug"

